[Desktop Entry]
Type=Application
Name=RufusAdmin
Exec=RufusAdmin
Icon=rufusadmin
Comment=Logiciel de gestion de cabinet d'Ophtalmologie
Categories=Office;
